section,article,aside,header,footer,nav,figure{ display:block; }
body,h1,h2,h3,h4,h5,h6,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,figure{ margin:0; padding:0; }
body,button,input,select,textarea{ font:16px/1.5 "Microsoft Yahei"; }
h1,h2,h3,h4,h5,h6,button,input,select,textarea{ font-size:100%; }
address,cite,dfn,em,var{ font-style:normal; }
code,kbd,pre,samp{ font-family:courier new,courier,monospace; }
p,ul,li,dl,dd,dt,form,h1,h2,h3,h4,h5,h6{ list-style:none; }
a{ color:#666; text-decoration:none; }
a:hover{ color:#0089CD; text-decoration:none; }
fieldset,img{ border:0; }
table{ border-collapse:collapse; border-spacing:0; }
input::-moz-focus-inner,button::-moz-focus-inner{ border:0;padding:0;outline:0; }